.site-header {
	height: auto;

	&.site-header-home {
		height: calc(100vh - 240px);

		.admin-bar & {
			@include media-breakpoint-up(md) {
				height: calc(100vh - 32px);
			}
		}

		@include media-breakpoint-up(md) {
			height: 100vh;
		}

		.hamburger {
			display: none;
		}

		.site-nav {
			margin-top: 0;   
			transition : 0.7s margin ease, 0.7s padding ease, opacity 0.7s ease;
			pointer-events: auto;
			opacity: 1;
		}
	}
}

.site-title {
	font-size: 1.5rem;
	margin-top: -1rem;
	text-transform: uppercase;
	padding-top: 0.4em !important;
	padding-bottom: 0.4em !important;
	line-height: 1em;
}

.site-nav {
	padding: 1em 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;

	@include media-breakpoint-down(sm) {
		position: relative;
		margin-top: -250px;   
		transition : 0.7s margin ease, 0.7s padding ease, opacity 0.7s ease;
		pointer-events: none; 
		opacity: 0;
		
		&.is-visible {
			margin-top: 0;   
			transition : 0.7s margin ease, 0.7s padding ease, opacity 0.7s ease;
			pointer-events: auto;
			opacity: 1;
		}
	}

	.site-nav-row {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
		
		.site-nav-col {
			flex: 1;
			display: flex;
			flex-flow: row nowrap;
			align-items: flex-end;

			&.sep-after:after {
				content: '';
				background: $black;
				width: 100%;
				height: 1px;
				margin: 1.25em 0;
				flex: 0 1 auto;
			}

			&.sep-before:before {
				content: '';
				background: $black;
				width: 100%;
				height: 1px;
				margin: 1.25em 0;
				flex: 0 1 auto;
			}
		}

		@include media-breakpoint-down(sm) {
			flex-flow: column;
			flex-grow: 1;
		}

		.nav-item {
			z-index: 1;
			text-decoration: none;
			padding: 0.5em 1rem;
			text-transform: uppercase;
			letter-spacing: 0;
			transition: letter-spacing 0.3s ease;
			flex: 1 0 auto;
			align-self: flex-end;

			@include media-breakpoint-down(sm) {
				display: block;
			}

			&.current,
			&:hover {
				letter-spacing: 0.5em;
			}

			&.site-title {
				&.current,
				&:hover {
					letter-spacing: 0.25em;
				}
			}
		}

		.nav-item-group {
			text-align: right;
			display: flex;
			flex-direction: column;
			z-index: 1;
			line-height: 1;
			padding: 0.5em 0;
			flex: 1 0 auto;
			align-self: flex-end;

			@include media-breakpoint-down(sm) {
				text-align: left;
				line-height: inherit;
			}

			.nav-item{
				padding: 0.25em 1rem;
				margin-left: auto;

				// @include media-breakpoint-down(sm) {
				// 	margin-left: 0;
				// 	padding: 0.5em 1rem;
				// }
			}
		}
	}
}