{% extends 'layouts/main.twig' %}

{% block main %}
  <div class="row">
    <div class="col-md-4">
      <h2 class="mt-4 mb-6">
        {{ post.post_title }}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 masonry-3">
      {% if post.post_content %}
        <div class="post-content mb-4">
          {{ post.post_content|raw }}
        </div>
      {% endif %}
      {% for image in gallery %}
        <a class="d-block mb-4" href="#">
          <img src="{{ fn.wp_get_attachment_url(image, 'medium') }}" alt="" class="d-block w-100">
        </a>
      {% endfor %}
    </div>
  </div>
    
{% endblock %}