{% extends 'layouts/main.twig' %}

{% block main %}
    
    
  <div class="row">
    {% for category, tenants in categories %}
      <div class="col-md-4">
        <h2 class="mt-4 mb-6">
          {{ __(category, 'mda') }}
        </h2>
        <ul class="list-member">
          {% for member in tenants %}
            <li>
              {% if member.url %}
                <a href="{{ member.url }}" target="_blank">{{ member.post_title }}</a>
              {% else %}
                <span>{{ member.post_title }}</span>
              {% endif %}          
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
    
{% endblock %}