
<header class="site-header container-fluid {{ fn.is_front_page() ? 'site-header-home' : '' }}">
  <div class="row d-md-none pt-4">
    <div class="col-8 pt-2">
      {% include 'parts/header_nav_item.twig' with { headerNavItem: primaryMenu[0], headerNavItemClasses: 'site-title' } %}
    </div>
    <div class="col-4 text-right">
      <div class="hamburger hamburger--collapse toggle-navigation" tabindex="0"
     aria-label="Menu" role="button" aria-controls="collapseExample">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
  </div>
  <nav class="site-nav row">
    <div class="site-nav-row d-none d-md-flex">
      <div class="site-nav-col sep-after">
        {% include 'parts/header_nav_item.twig' with { headerNavItem: primaryMenu[0], headerNavItemClasses: 'site-title' } %}
      </div>
      <div class="site-nav-col text-right sep-before">
        {% include 'parts/header_nav_item.twig' with { headerNavItem: primaryMenu[1] } %}
      </div>
    </div>
    <div class="site-nav-row">
      <div class="site-nav-col sep-after">
        {% include 'parts/header_nav_item.twig' with { headerNavItem: primaryMenu[2] } %}
      </div>
      <div class="site-nav-col text-center sep-after sep-before">
        {% include 'parts/header_nav_item.twig' with { headerNavItem: primaryMenu[3] } %}
      </div>
      <div class="site-nav-col text-right sep-before">
        {% include 'parts/header_nav_item.twig' with { headerNavItem: primaryMenu[4] } %}
      </div>
    </div>
    <div class="site-nav-row">
      <div class="site-nav-col sep-after">
        {% include 'parts/header_nav_item.twig' with { headerNavItem: primaryMenu[5] } %}
      </div>
      <div class="site-nav-col sep-before">
        <div class="nav-item-group">
          <a class="nav-item" target="_blank" href="https://www.facebook.com/maisondesartistesfribourg/">Facebook</a>
          <a class="nav-item" target="_blank" href="#">Instagram</a>
        </div>
      </div>
    </div>
  </nav>
</header>