.container-fluid {
  max-width: 1200px;
  margin: auto;
}

.map-container {
  height: 100%;
  margin: 1.5em 0 1.5em;
  border: 1px solid $black;

  @include media-breakpoint-down(sm) {
    min-height: 300px;
	}

  .map {
    height: 100%;
  }
}

.alert {
  border: 1px solid $black;
  padding: 2em;
  text-align: center;

  p {
    margin: 0;
  }

  &.alert-lg{
    padding: 5em 2em;
  }
}

.masonry-2 {
  column-count: 2;
  column-gap: $grid-gutter-width;

  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
}

.masonry-3 {
  column-count: 3;
  column-gap: $grid-gutter-width;

  @include media-breakpoint-down(md) {
    column-count: 2;
  }

  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
}