.container-fluid {
  max-width: 1200px;
  margin: auto;
}

.home-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.7;

  &.home-gallery-faded {
    opacity: 0.1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease;

    &.visible {
      opacity: 1;
    }
  }
}


.bg-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.9;

  &.bg-gallery-faded {
    opacity: 0.2;
  }

  img {
    position: absolute;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease;

    &.visible {
      opacity: 1;
    }
  }
}

.map-container {
  height: 100%;
  margin: 1.5em 0 1.5em;
  border: 1px solid $black;

  @include media-breakpoint-down(sm) {
    min-height: 300px;
	}

  .map {
    height: 100%;
  }
}

.alert {
  border: 1px solid $black;
  padding: 2em;
  text-align: center;

  p {
    margin: 0;
  }

  &.alert-lg{
    padding: 5em 2em;
  }
}

.masonry-2 {
  column-count: 2;
  column-gap: $grid-gutter-width;

  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
}

.masonry-3 {
  column-count: 3;
  column-gap: $grid-gutter-width;

  @include media-breakpoint-down(md) {
    column-count: 2;
  }

  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
}

.wp-block-image img {
  max-width: 100%;
  height: auto;
}

.form-age {
  background: transparent;
  border: none;
  width: 1px;
  height: 1px;
  position: absolute;
  top: -1000px;
  left: -1000px;
}